*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */

.debug {
    border: dashed 2px black;
}
.debug-r {
    border: dashed 2px red;
}

/* generics */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}

/* utility */

.large-container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1080px;
    margin: 0 auto;
}
.row {
    display:flex;
    flex-wrap: wrap;
}

.small-col {
    width: calc(100% / 3);
    height: 400px;
}

.single-col {
    width: 100%;
    height: 400px;
}

.mid-col {
    width: 40%;
    height: 400px;
}
.large-col {
    width: 60%;
    height: 400px;
}

.btn a{
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
}

/* header */

header {
    min-height: 90px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.link-header a {
    color: black;
}

.link-header ul{
    display: flex;
}

header li {
    margin: 0 20px;
}

/* spotlight */



/* subscription */

.subscription {
    text-align: left;
}

/* adv section */

.col-adv {
    height: 500px;
    width: calc(100% / 6);
}
.col-adv-central {
    flex-grow: 1;
}

/* footer */

.footer-col {
    height: 300px;
    width: calc(100% / 5);
}