*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */

.debug {
    border: dashed 2px black;
}
.debug-r {
    border: dashed 2px red;
}

/* generics */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    display: block;
}

h1 {
    font-size: 80px;
    margin-bottom: 50px;
    font-weight: 900;
}

h2 {
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 50px;
}

h3 {
    font-size: 23px;
    margin-bottom:20px ;
}

/* utility */

.large-container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}
.row {
    display:flex;
    flex-wrap: wrap;
}

.small-col {
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
}

.single-col {
    width: 100%;
}

.col-30 {
    width: 30%;
}
.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.btn {
    color: white;
    background-color: #0061ff;
    display: inline-block;
    transition: 0.2s;
}

.direction-col {
    display: flex;
    flex-direction: column;
}
.gap40{
    gap: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.light-border {
    border: 1px solid lightgrey;
}

.pos-relative {
    position: relative;
}

.bgc-l-green {
    background-color:#a2d39b;
}

.bgc-bordeaux {
    background-color:#61082b;
}

.bgc-red {
    background-color:#d5001f;
}

.bgc-yellow {
    background-color:#ffd830;
}

.bgc-l-blue {
    background-color:#b4d0e7;
}

.bgc-blue {
    background-color:#0d2481;
}

.bgc-cyan {
    background-color:#0093ce;
}

.bgc-l-gray {
    background-color: #f5f5f5;
}


.btn:hover {
    background-color: #2a7bfd;
    box-shadow: 3px 3px 3px  #adadad;
   
}

/* header */

header {
    min-height: 90px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.link-header a{
    color: #000;
}


/* header btn */

.btn.btn-header {
    padding: 10px 10px;
}

/* sezioni header */

.header-left, .header-right {
    display: flex;
    align-items: center;
}

/* link header */

.link-header ul{
    display: flex;
}

header li {
    margin: 0 20px;
}

/* spotlight */

.spotlight-container {
    background-color:#b4d0e7 ;
    padding: 80px 0;
    max-height: 750px;
    margin-bottom: 150px;
}

.spotlight-container img {
    max-width: 100%;
}

.btn.btn-spotlight{
    padding: 10px 15px;
    align-self: flex-start;
}

.cancel-sub a {
    color: #000;
}

.arrow-icon {
    padding-top: 30px;
    font-size: 50px;
}

/* subscription */

.subscription {
    text-align: left;
    margin-bottom: 40px;
}

.check-plain-sub {
    display: flex;
    margin-bottom: 50px;
}

/* sottotitolo scelta piano annuale/mensile */

.sub-check {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: lightgray solid 2px;
    margin-right: 5px;
}

.sub-check:hover {
    border: 6px solid #0061ff;
    cursor: pointer;
}

.montlhy-sub {
    margin-right: 40px;
}

/* centratura colonne abbonamento */

.row.subscription {
    margin: 0 -20px;
}

/* header colonne abbonamento*/

.small-col-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

/* body colonne padding*/

.padding-col-body {
    padding: 30px;
}

.title-plain {
    line-height: 30px;
    margin-bottom: 40px;
}

.title-plain>div {
    color: gray;
    font-size: 15px;
}

.plain-info h4 {
    margin-bottom: 20px;
}

.description-plain {
    display: flex;
}

.description-plain>div {
    margin: 0 5px 30px 0;
    font-size: 15px;
}
/* bottoni colonne abbomanento */

.btn.small-col-btn {
    text-align: center;
    display: block;  
    padding: 10px 0;
}


.small-col-btn {
    margin-bottom: 40px;
}

.small-col-link>a {
    text-decoration: underline;
    color: #0061ff;
}

/* divisorio colonne abbonamento */

.small-col .divisory {
    margin: 40px 0 40px 0;
    width: 20%;
    border-bottom: 1px solid lightgray;
}

/* icona descrizione punti salienti del piano  */

.description-plain.info i {
    color: #0061ff;
}

/* colonna singola */

.single-col p {
    padding-right: 300px;
    margin-top: 40px;
    font-size: 15px;
}

/*bottone colonna singola */

.btn.single-col-btn {
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}

/* partners section */

.partners {
    margin-top: 150px;
}

.partners img {
    max-width: 100%;
}

.partners-btn.btn  {
    color: black;
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 15px;
    margin-top: 40px;
}



/* info buisness col */

.row.buisness {
    margin: 0 -20px;
}

.buisness-info img {
    width: 100%;
}

/* adv section */

.adv a {
    text-decoration: underline;
    color: #0061ff;
}


.adv .square {
    display: flex;
    flex-wrap: wrap;
    
    width: calc(100vw / 3 - 6px);
    height: calc(100vw / 3 - 6px); 
}

.adv .square>img {
    max-height: 30%;
    border-bottom:lightgray 1px solid;
    padding-top: 50px ;
    width: 40%;
}


.adv .lil-square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: 50%;
    border: 15px solid rgba(255, 255, 255, 0);
    transition: 0.2s;
}

.lil-square:hover{
    border: 15px solid rgba(255, 255, 255, 0.4);
}

.lil-square>img {
    max-width: 50%;
    filter: invert(100%);
}

/* free trial */

.free-trial {
    background-color: #b4d0e7;
    padding: 130px;
}

.start-trial h2 {
    margin: 0;
    color: #61082b;
}

.start-trial-btn.btn {
    color: #000;
    background-color: #fff;
    padding: 10px 50px;
}



.start-trial .col-40 {
    padding-top: 15px
}

/* FAQ */

.faq {
    border-bottom: #000 1px solid;
    margin: 0;
    padding: 40px 0;
}

.faq i {
    position: absolute;
    right:20px;
}

.faq>p {
    font-weight: bold;
}

.favourite-faq {
    margin-top: 20px;
    display: none;  
}

.faq:hover .favourite-faq {
    display: block;
}

.faq:hover i {
    transform: rotate(180deg);
}


/* footer */

footer {
    background-color: #000;
    padding-bottom: 40px;
}

footer h3, a {
    color: #fff;
}

.footer-col {
    width: calc(100% / 5);
    margin: 100px 0;
}

.footer-col li {
    margin-bottom: 15px;
}

.footer-divisory {
    border-bottom: #fff solid 1px;
    width: 10%;
}

.leng {
    margin-top: 40px;
    color: gray; 
    height: 40px;
    line-height: 40px;
}

footer a:hover {
    text-shadow: 1px 1px 3px #fff;
}